.menu-item-w-image {
	display: grid;
	gap: 0.8rem;
	grid-template-columns: 25px 1fr;
}

.menu-item {
	padding: 0.5em;
	color: var(--medium-gray);
}

.item-image {
	margin-inline: auto;
}

@media screen and (width <= 1050px) {
	.menu-item {
		font-size: 1.05rem;
		padding: 0.75em;
	}
	.item-image {
		scale: 1.25;
	}
}

@media screen and (width > 1050px) {
	.menu-item {
		margin-bottom: 0.125em;
	}
}
